* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}

header {
    width: 100%;
    background-color: #EAC926;
}

header img {
    width: 150px;
    padding: 15px;
    margin-left: 15px;
}

header div input {
    margin: 0 0 0 15px;
    width: 180px;
    border: 1px solid #000;
}

header .hamburguer {
    text-align: center;
}

header div button {
    padding: 0 0 0 0;
}

header p {
    text-align: center;
}

header .site-navbar,
header .login-navbar {
    display: none;
}

header nav ul li a {
    text-decoration: none;
    color: #000;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav div button {
    background-color:#03264C;
    border-radius: 5px;
    height: 35px;
    width: 35px;
    border: none;
    margin: 15px 0 20px 0;
    line-height: 0;
}

header nav div button i {
    color: #fff;
    font-size: 16px;
}

section img {
    width: 100%;
}

main {
    width: 90vw;
    margin: auto;
}

main section h3 {
    font-size: 24px;
    color: #666;
}

main section article {
    background-color: #fff;
    margin: auto;
    margin-bottom: 10px;
}

main .caracteristicasArticulo {
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

main section article p {
    font-size: 16px;
    margin: 0;
}

main section article i {
    color: #39b54a;
}

main .circulo {
    border: solid 1px #39b54a;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

main .precio {
    font-size: 18px;
}

main .descuento {
    color: #39b54a;
}

main h4 {
    font-size: 16px;
    margin: 0;
    color: #666;
    font-weight: 400;
    margin-top: 25px;
    display: none;
}

footer {
    background-color: #fff;
    margin: auto;
    width: 97%;
    padding-top: 3px;
}

footer section article {
    margin-top: 50px;
}

footer h3 {
    margin: 0;
    color: #666;
}

footer h5 {
    padding-bottom: 20px;
}

footer p {
    margin: 0;
    color: #666;
}

footer i {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}

footer article {
    text-align: center;
    padding: 0 50px 0 50px;
}

footer section article h5{
    color: #666;
    font-weight: lighter;
}

.copyright{
    padding-left: 15px;
    text-align: left;
}

@media (min-width: 361px) {
    main h4 {
        display: flex;
    }
    header .site-navbar,
    header .login-navbar {
    display: flex;
    }
    header .hamburguer {
        display: none;
    }
    header img {
        width: 200px;
    }
    main section article {
        box-shadow: 0px 0px 10px 0px rgb(100, 100, 100);
    }
}

@media (min-width: 769px) {
    
}